.navbar{
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: 'Spectral SC';
  font-size: 23pt;

  border-radius: 5em;
  border: 0;
  padding-bottom: 1%;
  letter-spacing: 10px;
  text-decoration: none;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%
}
