.navbar{
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* font-family: 'Spectral SC'; */
  font-family: 'Montserrat', sans-serif;
  font-size: 23pt;

  border-radius: 5em;
  border: 0;
  padding-bottom: 1%;
  letter-spacing: 5px;
  text-decoration: none;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
}

.navlink{
  color: white;
  text-decoration: none;
}

.navlink:hover{
  text-decoration: underline;
  text-decoration-color: red;
}

.project-tile{
  margin-top: 1.5%;
  display: block;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  height: 50%;
  width: 60%;
}

.project-tile:hover{
  opacity: 0.15;
  transition: .5s ease;
}

.project-text {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: white;
  position: absolute;
  top: 25%;
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
  text-align: center;
}


.about {
font-family: 'Montserrat', sans-serif;
font-weight: 100;
color: white;
text-align: center; 
font-size: 15pt; 
margin-left: 30%; 
margin-right: 30%; 
width: 40%; 
}