.project-wrap {
  position: relative;
  height: 50%;
  width: 60%;
  margin-top: 1.5%;
  margin-left: auto; 
  margin-right: auto;
}

.project-img {
  display: block;
  height: 100%;
  width: 100%;
  transition: .5s ease-in-out all;
}

.project-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: white;
  position: absolute;
  top: 25%;
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
  text-align: center;
  transition: .5s ease-in-out all;
  opacity: 0;
}

.project-wrap:hover .project-text {
  visibility: visible;
  opacity: 1;
}
.project-wrap:hover .project-img {
  opacity: 0.15
}