.project-wrap {
  position: relative;
  height: 50%;
  width: 60%;
  margin-top: 1.5%;
  margin-left: auto; 
  margin-right: auto;
}

.project-img {
  display: block;
  height: 100%;
  width: 100%;
  transition: .5s ease-in-out all;
}

.project-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: white;
  top: 3%;  
  left: 25%;
  right: 5%;
  width: 50%;
  text-align: center;
  position: absolute;
  transition: .5s ease-in-out all;
  opacity: 0;
}

.project-wrap:hover .project-text {
  visibility: visible;
  opacity: 1;
}

.project-wrap:hover .project-img {
  opacity: 0.15
}

.project-link{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  margin-right: 1%;
}

.project-link:hover{
  text-decoration: underline;
  text-decoration-color: red;
}

.project-info{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: white;  
  top: 50%;
  left: 5%;
  right: 5%;

  text-align: center;
  position: absolute;
  transition: .5s ease-in-out all;
  opacity: 0;
}

.project-wrap:hover .project-info {
  visibility: visible;
  opacity: 1;
}